@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/corrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    /*font colors*/
    --color-background-gray: #EBECEE;
    --color-background-white: #ffffff;
    --color-font-orange: #eb9800;
    --color-font-blue: #002F52;
    --color-font-gradient: linear-gradient(
        97.54deg, #002F52 35.49%, #326589 165.37%);
    
    /*font text*/

    --font-poppins: "Poppins", sans-serif;


}

body {
    background-color: var(--color-background-gray);
    font-family: var(--font-poppins);
    
    /*16px é um tamanho definido como padrão para muitos projetos*/
    font-size: 16px;
    font-weight: 400;

}