



.cabecalho__menu-hambuger {

    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.svg");
    display: inline-block; /* permite o uso do width e height */

}

.cabecalho {
    background-color:var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteiner{
    display: flex;
    align-items: center;
}